version: "3.8"

services:
  app:
    image: python:3.14-slim
    container_name: python-app
    networks:
      - app-network
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
      - UV_PROJECT_ENVIRONMENT=/usr/local
    command: >
      bash -c "pip install uv &&
        uv sync &&
        tail -f /dev/null"

# 需要下指令: docker network create app-network
networks:
  app-network:
    external: true
