[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "anthropic[vertex]>=0.75.0",
    "dotenv>=0.9.9",
    "openai>=2.8.1",
    "tabulate>=0.9.0",
]
